.animated-grid {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'a b c d'
  'l ✔ ✔ e'
  'k ✔ ✔ f'
  'j i h g'
  ;

  grid-template-rows: repeat(4, 25%);
  grid-template-columns: repeat(4, 25%);

  --stagger-delay: 100ms;

  overflow: hidden;
}

@keyframes cardEnter {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

.card {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: cardEnter 0.5s ease-in-out;
  animation-fill-mode: backwards;
  background-color: black;
  text-align: center;
  background-size: cover;
  

  --x-translate: 0;
  --y-translate: 0;

  transform-origin: center center;
  transform-style: preserve-3d;
}

.card:nth-child(1) {
  grid-area: a;
  animation-delay: calc(1 * var(--stagger-delay));
  background-image: url(../src/assets/images/1.jpg);
}

.card:nth-child(2) {
  grid-area: b;
  animation-delay: calc(2 * var(--stagger-delay));
  background-image: url(../src/assets/images/2.jpg)
}

.card:nth-child(3) {
  grid-area: c;
  animation-delay: calc(3 * var(--stagger-delay));
  background-image: url(../src/assets/images/3.jpg)
}

.card:nth-child(4) {
  grid-area: d;
  animation-delay: calc(4 * var(--stagger-delay));
  background-image: url(../src/assets/images/4.jpg)
}

.card:nth-child(5) {
  grid-area: e;
  animation-delay: calc(5 * var(--stagger-delay));
  background-image: url(../src/assets/images/5.jpg)
}

.card:nth-child(6) {
  grid-area: f;
  animation-delay: calc(6 * var(--stagger-delay));
  background-image: url(../src/assets/images/6.jpg)
}

.card:nth-child(7) {
  grid-area: g;
  animation-delay: calc(7 * var(--stagger-delay));
  background-image: url(../src/assets/images/7.jpg)
}

.card:nth-child(8) {
  grid-area: h;
  animation-delay: calc(8 * var(--stagger-delay));
  background-image: url(../src/assets/images/8.jpg)
}

.card:nth-child(9) {
  grid-area: i;
  animation-delay: calc(9 * var(--stagger-delay));
  background-image: url(../src/assets/images/9.jpg)
}

.card:nth-child(10) {
  grid-area: j;
  animation-delay: calc(10 * var(--stagger-delay));
  
}

.card:nth-child(11) {
  grid-area: k;
  animation-delay: calc(11 * var(--stagger-delay));
}

.card:nth-child(12) {
  grid-area: l;
  animation-delay: calc(12 * var(--stagger-delay));
}

.card:last-child {
  grid-area: ✔;
  animation-delay: calc(13 * var(--stagger-delay));
}

h1:nth-child(1) {
 position:absolute;
 z-index: 5;
}

h1:nth-child(2) {
  position: absolute;
  z-index: 4;
  color: red;
}

h1:nth-child(3) {
  position: absolute;
  z-index: 3;
  color: blue;
}

@media screen and (max-width: 768px) {
  .card {
    font-size: 1.5rem;
  }
}

